html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
}

html, body {
    width: 100%;
    position: relative;
}

@media(max-width: 768px) {
    html {
		font-size: 54%;
	}
}