.btn {
    width: max-content;
    background-color: var(--accent);
    border-radius: 5px;
    padding: 10px 20px;
    span {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
    }

    &:hover {
        filter: brightness(105%);
    }
}