.btn-outline {
    width: 100%;
    background-color: #fff;
    border: 0.1rem solid var(--accent);
    border-radius: 0.5rem;
    padding: 1rem;
    
    span {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--accent);
    }

    &:hover {
        background-color: var(--accent);
        span {
            color: #fff;
        }
    }
}

.btn-outline.btn-icon {
    svg {
        path {
            fill: var(--accent);
        }
    }

    &:hover {
        svg {
            path {
                fill: #fff;
            }
        }
    }
}