.cart-item {
    display: grid;
    grid-template-columns: min-content auto auto min-content;
    align-items: center;
    padding: 3rem 0;
    padding-right: 2rem;
    gap: 2rem;
    
    &__img {
        width: 8rem;
        height: 8rem;

        img {
            object-fit: fill;
            object-position: center center;
        }
    }

    &-desq {
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &-desq__title {
        font-size: 2.4rem;
        font-weight: 500;
        transition: color 0.1s ease-in-out;
    }

    &-desq__title:hover {
        color: var(--accent);
    }

    .price {
        font-size: 2.4rem;
    }

    &-price {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    &-count {
        display: flex;
        align-items: center;

        img {
            width: 1.2rem;
            height: 1.2rem;
            cursor: pointer;
        }

        input {
            font-size: 1.6rem;
            width: 2.4rem;
            margin: 0 0.8rem;
            text-align: center;
            border-bottom: 0.1rem solid rgb(179, 179, 183);
        }
    }

    &-icons {
        width: 6rem;
        height: 2rem;
        display: flex;
        justify-content: space-between;

        svg {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
    }
}

@media(max-width: 1280px) {
    .cart-item {
        &-desq__title {
            font-size: 2.2rem;
        }
    }
}

@media(max-width: 768px) {
    .cart-item {
        grid-template-columns: min-content auto auto;
        gap: 1rem;
        row-gap: 2rem;

        &-price {
            grid-row: -1 span 1;
            grid-column: 1 / 3;
        }

        &-icons {
            grid-row: 1;
            grid-column: -1;
        }
    }
}

@media(max-width: 560px) {
    .cart-item {
        &-desq__title  {
            font-size: 2rem;
        }
    }
}