.cart-item {
    display: grid;
    grid-template-columns: min-content 7fr 4fr min-content;
    align-items: center;
    padding: 3rem 0;
    padding-right: 2rem;
    
    &__img {
        margin-right: 3rem;
        width: 8rem;
        height: 8rem;

        img {
            object-fit: fill;
            object-position: center center;
        }
    }

    &-desq {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &-desq__title {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .price {
        font-size: 2.4rem;
    }

    &-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 4.5rem;
    }

    &-count {
        display: flex;
        align-items: center;

        img {
            width: 1.2rem;
            height: 1.2rem;
            cursor: pointer;
        }

        input {
            font-size: 1.6rem;
            width: 2.4rem;
            margin: 0 0.8rem;
            text-align: center;
            border-bottom: 0.1rem solid rgb(179, 179, 183);
        }
    }

    &-icons {
        width: 6rem;
        height: 2rem;
        margin-left: 5rem;
        display: flex;
        justify-content: space-between;

        svg {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
    }
}