.cart {
    &__exit {
        color: #5d5d64;
        font-size: 1.4rem;
    }

    &__heading {
        font-size: 3.6rem;
        font-weight: 700;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
}

@media(max-width: 1024px) {
    .cart {
        &-wrapper {
            display: block;
        }
    }
}