.counter {
    height: 1.6rem;
    width: 1.6rem;
    font-size: 10px;
    background-color: var(--accent);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 16px;
    display: inline-block;
}