.favorites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}

@media(max-width: 1280px) {
    .favorites-cards {
        grid-template-columns: repeat(3, min-content);
        justify-content: center;
    }
}

@media(max-width: 560px) {
    .favorites-cards {
        grid-template-columns: repeat(2, min-content);
    }
}