.smartphones-filter {
    width: max-content;
    padding: 3rem 3rem;

    height: min-content;
    background-color: #f5f5f6;

    &__heading {
        font-size: 2.8rem;
        font-weight: 700;
    }

    &-item {
        &__heading {
            padding: 1rem 0;
            font-size: 1.6rem;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        .price-inputs {
            display: flex;
            align-items: center;

            input {
                width: 8.5rem;
                height: 3rem;
                font-size: 1.6rem;
            }

            span {
                font-size: 1.6rem;
            }
        }

        &-list {
            input {
                margin-right: 0.5rem;
                cursor: pointer;
            }
        }

        .checkbox-input {
            width: 100%;
            height: 3rem;
            padding: 0 0.5rem;
            background-color: #fff;
            margin: 0;
            cursor: text;
        }

        .drop-down-arrow {
            height: 1.5rem;
            width: 1.5rem;
            transform: rotate(0);
            position: relative;
            transition: transform 0.2s ease-in-out;

            &.active {
                transform: rotate(-90deg);
            }
        }

        label {
            font-size: 1.6rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

@media(max-width: 1024px) {
    .smartphones-filter {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 102;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: scroll;

        &.active {
            transform: translateX(0);
        }
    }

    body, html {
        overflow-x: hidden;
    }
}