.header {
	padding: 5rem 0;

	&-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

@media(max-width: 1024px) {
	.header {
		padding: 1rem;

		&-row {
			flex-direction: column;
			gap: 2rem;
		}
	}
}