.header-logo {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--accent);
    position: relative;
    perspective: 9rem;
    cursor: pointer;

    &__letter {
        font-size: 2.3rem;
        background: var(--accent);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        transform: rotateY(80deg);
        transform-origin: right center;
        margin-right: 1rem;
    }

    &__text {
        font-size: 3.5rem;
        position: relative;
    }

    &__text::after {
        content: 'самое лучшее для вас';
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        font-size: 1rem;
    }
}