.header-logo {
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--accent);
    position: relative;
    perspective: 90px;
    cursor: pointer;

    &__letter {
        font-size: 23px;
        background: var(--accent);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        transform: rotateY(80deg);
        transform-origin: right center;
        margin-right: 10px;
    }

    &__text {
        font-size: 35px;
        position: relative;
    }

    &__text::after {
        content: 'самое лучшее для вас';
        position: absolute;
        bottom: -5px;
        left: 0;
        font-size: 10px;
    }
}