.smartphones {
    &-content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    &-header {
        margin-bottom: 2rem;
        
        &-heading {
            font-size: 3.6rem;
            display: flex;
            gap: 1rem;
        }

        &__title {
            font-weight: 700;
        }

        &__count {
            font-weight: 400;
            color: #B3B3B7;
        }
        
        &__mobile-filter-btn {
            display: none;
            user-select: none;
        }
    }
}

@media(max-width: 1024px) {
    .smartphones {
        &-content {
            grid-template-columns: auto;
        }

        &-header {
            background-color: #f5f5f6;
            width: 100%;
            padding: 2rem 3rem;
            margin-bottom: 5rem;
            display: flex;
            justify-content: space-between;

            &-heading {
                flex-direction: column;
                gap: 0;
            }

            &__count {
                font-size: 2.4rem;
            }

            &__mobile-filter-btn {
                display: block;
                align-self: flex-end;
                font-size: 1.6rem;
                font-weight: 500;
                color: var(--accent);
            }
        }
    }
}

@media(max-width: 560px) {
    .smartphones-header {
        &-heading {
            font-size: 2.6rem;
        }
    }
}