.smartphones {
    &-content {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    
    &__heading {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 2rem;

        span {
            color: #B3B3B7;
            font-weight: 400;
        }
    }
}