.nav {
	display: flex;
	gap: 30px;
	align-items: center;
	text-align: center;

	svg {
		width: 30px;
		height: 30px;
	}

    &__cart-img {
		width: 30px;
		height: 30px;
	}

	&__favorites-img {
		width: 30px;
		height: 30px;
	}

	p {
		font-size: 14px;
		color: #5d5d64;
	}

	a:hover {
		p {
			color: var(--accent);
		}
		
		svg {
			path {
				fill: var(--accent);
			}
		}
	}
}