.header-search {
    position: relative;
    width: 50rem;
    height: 2.5rem;

    &__input {
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5rem;
        transition: border-bottom 0.2s ease-in-out;

        &:focus, &:hover {
            border-bottom: 0.1rem solid var(--accent);
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: -0.5rem;
        right: 0;
    }
}

@media(max-width: 768px) {
    .header-search {
        width: 38rem;
    }
}

@media(max-width: 560px) {
    .header-search {
        width: 30rem;
    }
}