.sort {
    &__list {
        ul {
            display: flex;
            gap: 0.8rem;

            li {
                font-size: 1.6rem;
                cursor: pointer;
            }

            li:first-child {
                font-weight: 800;
            }
        }
    }

    &-mobile {
        display: none;
    }
}

@media(max-width: 1024px) {
    .sort {
        &__list {
            display: none;
        }

        &-mobile {
            display: block;
            font-size: 1.6rem;

            &-btn {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
        }
    }
}