.sort {
    &__list {
        ul {
            display: flex;
            gap: 0.8rem;

            li {
                font-size: 1.6rem;
                cursor: pointer;
            }

            li:first-child {
                font-weight: 800;
            }
        }
    }
}