@font-face {
	font-family: 'SYN Nova Light';
	src: url('syn_nova_light.eot'); /* IE 9 Compatibility Mode */
	src: url('syn_nova_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('syn_nova_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('syn_nova_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('syn_nova_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('syn_nova_light.svg#syn_nova_light') format('svg'); /* Chrome < 4, Legacy iOS */
}